html,
body {
    overflow-x: hidden;
    height: 100%;
}

img {
    max-width: 100%;
    vertical-align: middle;
}
table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

table th {
  padding: 6px 13px;
  border: 1px solid #ddd;
  font-weight: bold;
  text-align:center;
}

#editor {
    height: 100%;
    width: 50%;
    padding-top: 20px;
    resize: none;
    border-style: none;
    font-size: 16px;
    font-family: KaiTi, STKaiti;
    float: left;
}

#view {
    height: 100%;
    width: 50%;
    padding-top: 20px;
    resize: none;
    border-style: none;
    font-size: 16px;
    font-family: KaiTi, STKaiti;
    overflow: auto;
}
